@import "../global.css";

header {
  margin-top: 28px;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

header .navigation-menu nav {
  display: flex;
  gap: 28px;
}

header .navigation-menu nav a {
  font-family: var(--global-font);

  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: black;
  line-height: 26.6px;
}

.widgets {
  display: flex;
  align-items: center;
  gap: 14px;
}

.widgets nav a {
  text-decoration: none;
  color: #1c1c1c99;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-transform: capitalize;
}

.widgets nav a:first-child {
  color: var(--basic-color);
}

.widgets .catalog button {
  border-radius: 32px;
  background-color: var(--basic-color);
  font-size: 16px;
  font-weight: 400;
  padding: 10px 24px;
  border: 1px solid #1c1c1c99;
  line-height: 16px;
}

/* main style sheets */

main {
  margin-top: 50px;
  background-color: var(--basic-color);
  border-radius: 80px;
  padding: 62px 96px;
  height: 700px;
}

.swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Обычные точки */
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: transparent; /* Прозрачный фон */
  border: 2px solid #000; /* Черная обводка */
  border-radius: 50%; /* Круглая форма */
  transition: all 0.3s ease; /* Плавная анимация при изменении формы */
  margin: 0 5px; /* Пространство между точками */
}

.swiper-pagination-bullet-active {
  width: 40px; /* Длинная форма для активной точки */
  height: 12px; /* Высота остается как у обычных точек */
  background-color: #000; /* Черный фон */
  border-radius: 20px; /* Превращаем в продолговатую форму */
  border: none; /* Убираем обводку */
}

main .left_main_site .title h1 {
  font-size: 64px;
  line-height: 70.4px;
  width: 700px;
  margin-bottom: 20px;
  font-family: var(--global-font);
}

main .left_main_site .suptitle p {
  max-width: 540px;
  width: 100vw;

  font-size: 20px;
  line-height: 27px;
  font-weight: 300;
}

main .button_main {
  display: flex;
  align-items: center;
  gap: 21px;
  border-radius: 32px;
  background-color: #1c1c1c;
  max-width: 212px;
  width: 100vw;
  margin-top: 20px;

  padding: 16px 24px;

  box-shadow: 6px 3px 13px -5px;
  cursor: pointer;
}

main .button_main:hover {
  box-shadow: 6px 3px 22px -5px;
  transform: translateY(-5px);
}

main .button_main a {
  color: var(--basic-color);
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
}

.card_company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.card_container {
  border: 1px solid var(--basic-color);
  border-radius: 40px;
  padding: 32px 36px;
  text-align: center;
}

.card_container h1 {
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
}

.card_container p {
  margin-top: 12px;
  font-size: 20px;
  color: #1c1c1ce5;
  line-height: 27px;
  font-weight: 300;
  font-family: var(--global-font);
}

/* programms section */

.programms {
  margin-top: 100px;
}

.title_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_section .title_c h1 {
  font-size: 32px;
  line-height: 35.2px;
  font-weight: 700;
}

.adress_all_progress {
  border: 1px solid gray;
  padding: 14px 20px;
  border-radius: 32px;
  text-decoration: none;
  color: #1c1c1c;
}

.adress_all_progress span {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.card {
  max-width: 336px;
  max-height: 336px;
  width: 100vw;
  height: 100vh;

  position: relative;

  background-color: #fbbb00cc;
  border-radius: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-icon {
  margin-bottom: 15px;
  position: relative;
  top: -40px;
}

.card:hover > .card-icon {
  transform: translateY(-35px);
}

.card-text {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.button_all_program {
  background-color: #1c1c1c;
  max-width: 172px;
  width: 100vw;

  border-radius: 32px;
  border: 1px solid var(--basic-color);
  background-color: #000;
  color: var(--basic-color);
  padding: 14px 24px;
}

.button_all_program a {
  text-decoration: none;
  color: var(--basic-color);
  font-size: 16px;
  font-weight: 500;
}

/* partnership */

.partnership {
  margin-top: 100px;
}

.title_partnership h1 {
  font-size: 32px;
  line-height: 35.2px;
  font-weight: 700;
  text-align: start;
  font-family: var(--global-font);
}

.partnership_cards {
  margin-top: 40px;
  padding: 60px 100px;
  border: 1px solid var(--basic-color);
  border-radius: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p_card > img {
  max-width: 228px;
  height: 100px;
}

/* application */

.application {
  width: 100%;
  margin-top: 20px;
  background-color: var(--basic-color);
  border-radius: 80px;
  border: 2px solid #b48700;
  padding: 100px;

  display: flex;
  align-items: center;
  gap: 40px;
}

.left_site_application {
  width: 700px;
}

.left_site_application .title h1 {
  font-size: 32px;
  line-height: 35.2px;
  font-weight: 700;
}

.left_site_application .suptitle {
  margin-top: 17px;
}

.left_site_application .suptitle p {
  color: #1c1c1ce5;
  font-size: 20px;
  line-height: 27px;
  font-weight: 300;
}

.correct {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.correct p {
  font-size: 16px;
  line-height: 21.6px;
  font-weight: 300;
}

.right_site_application {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right_site_application .top p {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.right_site_application .top input {
  width: 500px;
  margin-top: 8px;
  background-color: #1c1c1c10;
  padding: 10px 16px;
  border: 1px solid #1c1c1c66;
  border-radius: 32px;
}

.right_site_application .top input::placeholder {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: capitalize;
  color: #1c1c1c99;
}

.right_site_application .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.right_site_application .middle input {
  width: 230px;
  margin-top: 8px;
  padding: 10px 16px;
  border: 1px solid #1c1c1c66;
  border-radius: 32px;
  background-color: #1c1c1c10;
}

.right_site_application .middle input::placeholder {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: capitalize;
  color: #1c1c1c99;
}

.button_request {
  width: 230px;
  padding: 16px 24px;
  background-color: #1c1c1c;
  color: var(--basic-color);
  font-family: var(--global-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 32px;
  align-self: self-end;
  border: none;
  cursor: pointer;
}

/* FAQ */

.faq-container {
  margin: 20px auto 0;
  padding: 100px;
  background-color: #fff;
  border-radius: 80px;
  border: 2px solid #ffd45d;
  text-align: center;
}

.faq-container h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.faq-question {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question p {
  font-family: var(--global-font);
  font-size: 20px;
  font-weight: 300;
  line-height: 30.1px;
}

.faq-answer {
  display: none;
  padding-top: 10px;
  font-size: 16px;
  color: #555;
  text-align: left;
}

.icon-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  user-select: none;
}

.icon-toggle.active {
  background-color: #000;
  transform: rotate(360deg);
  box-shadow: 4px 4px 8px #0000001f;
}

.down-arrow,
.up-arrow {
  width: 20px;
  height: 20px;
  display: none;
}

.icon-toggle .down-arrow {
  display: block;
}

.icon-toggle.active .down-arrow {
  display: none;
}

.icon-toggle.active .up-arrow {
  display: block;
  color: var(--Basic, #fbbb00);
}

.icon-toggle:hover {
  background-color: #000000;
}

.icon-toggle.active:hover {
  background-color: #333;
}

/* Contact cards */

.contact {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact_card {
  padding: 52.5px 80px;
  border: 1px solid var(--basic-color);
  border-radius: 80px;
}

.contact_card h1 {
  font-size: 32px;
  line-height: 35.2px;
  font-weight: 700;
  margin-bottom: 12px;
}

.contact_card p {
  width: 540px;
  font-size: 20px;
  line-height: 27px;
  color: #1c1c1ce5;
}

.contact_card .contact_info {
  margin-top: 36px;
}

.contact_card .date {
  display: flex;
  gap: 8px;
  align-items: center;
}

.map_card > iframe {
  border-radius: 80px;
  height: 408px;
  width: 680px;
  max-width: 100%;
}

/* footer */



/* Для устройств с шириной экрана до 1200px */
@media (max-width: 1200px) {
  .container_inner {
    padding: 0 20px;
  }

  main {
    padding: 40px 60px;
    height: auto;
  }

  header .navigation-menu nav {
    gap: 12px;
  }

  main .left_main_site .title h1 {
    font-size: 48px;
    line-height: 56px;
    width: 100%;
  }

  main .button_main {
    max-width: 180px;
  }

  .cards {
    flex-direction: column;
  }

  .faq-container {
    margin: 20px auto 0;
    padding: 50px;
    background-color: #fff;
    border-radius: 80px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ffd45d;
    text-align: center;
  }

  .card {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .right_site_application .top input,
  .right_site_application .middle input {
    width: 100%;
  }

  .contact {
    flex-wrap: wrap;
    justify-content: center;
  }

  footer {
    flex-direction: column;
    padding: 60px;
    gap: 50px;
  }

  footer .top_footer,
  footer .under_navigate {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  header .navigation-menu nav {
    flex-direction: column;
    gap: 10px;
  }

  .widgets {
    flex-direction: column;
    gap: 10px;
  }

  .widgets .catalog button {
    display: none;
  }

  main {
    padding: 30px;
    height: auto;
  }

  main .left_main_site .title h1 {
    font-size: 36px;
    line-height: 42px;
  }

  .card_company {
    flex-wrap: wrap;
  }

  .card_container {
    padding: 20px;
  }

  .partnership_cards {
    gap: 40px;
    flex-wrap: wrap;
  }

  .left_site_application {
    max-width: 400px;
    width: 100%;
  }

  .left_site_application .title h1 {
    font-size: 18px;
    line-height: 23.2px;
    font-weight: 700;
  }

  .left_site_application .suptitle p {
    color: #1c1c1ce5;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
  }

  .correct p {
    font-size: 12px;
    line-height: 15.6px;
    font-weight: 300;
  }

  .partnership_cards {
    flex-direction: column;
    gap: 55px;
    padding: 20px;
  }

  .contact_card p {
    width: 434px;
    font-size: 20px;
    line-height: 27px;
    color: #1c1c1ce5;
  }

  .button_request {
    padding: 12px 16px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 32px;
  }

  .application {
    flex-direction: column;
    padding: 40px;
  }

  .contact_card {
    padding: 52.5px 80px;
    border: 1px solid var(--basic-color);
    border-radius: 40px;
  }

  .faq-container {
    padding: 20px;
    border-radius: 40px;
  }

  .faq-question p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20.1px;
  }

  .faq-answer {
    display: none;
    padding-top: 8px;
    font-size: 12px;
    color: #555;
    text-align: left;
  }

  .contact_card h1 {
    font-size: 30px;
    line-height: 31.2px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  .contact_card p {
    width: 434px;
    font-size: 14px;
    line-height: 19px;
    color: #1c1c1ce5;
  }

  footer {
    flex-direction: column;
    padding: 40px;
    /* height: fit-content; */
    gap: 30px;
  }

  footer .top_footer,
  footer .under_navigate,
  footer .down_navigate {
    flex-direction: column;
    gap: 20px;
  }

  footer .down_navigate {
    flex-direction: column;
    gap: 20px;
  }
}

/* Для устройств с шириной экрана до 480px */
@media (max-width: 480px) {
  header {
    margin-top: 20px;
  }

  main {
    padding: 20px;
  }

  main .left_main_site .title h1 {
    font-size: 28px;
    line-height: 32px;
  }

  .card {
    max-width: 100%;
  }

  .button_main {
    max-width: 100%;
    text-align: center;
  }

  .contact_card {
    padding: 20px;
  }

  .contact_card p {
    width: 100%;
  }

  .faq-container {
    padding: 20px;
    border-radius: 40px;
  }

  .faq-question p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20.1px;
  }

  .faq-answer {
    display: none;
    padding-top: 8px;
    font-size: 12px;
    color: #555;
    text-align: left;
  }

  .map_card > iframe {
    border-radius: 40px;
  }

  footer {
    padding: 20px;
    gap: 20px;
  }

  footer .top_footer,
  footer .under_navigate,
  footer .down_navigate {
    flex-direction: column;
    gap: 20px;
  }
}
